.hero {
  height: 100%;
  background: #111111;
  /* border: 1px solid purple; */
}

.logo-img {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

img {
  width: 25rem;
  position: absolute;
}

.search {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 7rem;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.search input {
  width: 60rem;
  height: 3.4rem;
  border-radius: 0;
  border: 0;
  font-size: 30px;
  background-color: #918d8d;
  opacity: 50%;
}

.container {
  display: flex;
  justify-content: center;
}

/* use media query to fix the width */
.center {
  /* width: 100%; */
}

.gallery-container {
  background-color: #c4c4c4;
  opacity: 10%;
}

.gallery-container h1 {
  opacity: 0;
}
