.hero {
  height: 100%;
  background: #111111;
  /* border: 1px solid purple; */
}

.logo-img {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

img {
  width: 25rem;
  position: absolute;
}

.search {
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 7rem;
  position: relative;
}

input {
  width: 60rem;
  height: 3.4rem;
  border-radius: 0;
  border: 0;
  font-size: 30px;
  background-color: #918d8d;
  opacity: 50%;
  /* border: 1px solid purple; */
}
