.hero {
  height: 100%;
  background: #111111;
}

.logo-img {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

img {
  width: 25rem;
  position: absolute;
}

.search {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 7rem;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.search input {
  width: 60rem;
  height: 3.4rem;
  border-radius: 0;
  border: 0;
  font-size: 30px;
  background-color: #918d8d;
  opacity: 0.5;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 100%;
}

.cards-container {
  max-width: 870px;
}

.cards {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(9, 27, 9, 1) 100%
  );
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  row-gap: 0.7rem;
  padding: 2.5rem;
  padding-top: 3.4rem;
}

.card {
  cursor: pointer;
  background-color: #ffff;
  height: 300px;
  perspective: 1000px;
  background-color: transparent;
  transition: 1s;
}
strong {
  color: #12171b;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
  background-color: #737b81;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-back h1 {
  margin: 1rem;
  text-align: center;
}
.card-back li {
  margin: 1rem;
  border-bottom: 1px solid black;
  text-align: center;
  list-style-type: none;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 880px) {
  .cards {
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    height: 350px;
  }
  .card img {
    height: 350px;
  }
  .container {
    display: block;
    justify-content: center;
  }
  .search input {
    width: 90%;
  }
}
@media (max-width: 810px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 500px;
  }
  .card img {
    width: 100%;
    height: 100%;
  }

  .container {
    display: block;
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .cards {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 350px;
    height: 550px;
  }
  .container {
    display: block;
    justify-content: center;
  }
  .landing-page {
    /* border: 1px solid red; */
    height: 92vh;
    background: green url('../../img/background.jpeg') no-repeat center center;
    background-position: -960px;
  }
}
