.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #111111;
  height: 220px;
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid red;
}

.main-content h1 {
  color: #ffffff;
  font-size: 60px;
}
