* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.landing-page {
  /* border: 1px solid red; */
  height: 92vh;
  background: green url('img/background.jpeg') no-repeat center center/cover;
}

html,
body {
  /* border: 1px solid blue; */
  height: 100vh;
  /* background-color: #111111; */
}
