* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.landing-page {
  border: 1px solid blue;
  height: 100vh;
  background: black url('img/background.jpeg') no-repeat center center/cover;
}
